/* D E M O */

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
    font: normal 16px Verdana, Arial, sans-serif;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

main {
    background-color: rgba(222, 118, 81, 0.221);
}

header {
    background-color: white;
}

nav {
    height: 10vh;
    background-color: rgba(60, 137, 148, 0.221);
}

section {
    height: 50vh;
    background-color: rgba(114, 111, 25, 0.221);
}


* {
    padding: 1.75vmin;
}

    #debug {
        margin: 30px 0 0 0;
        background: rgba(128, 128, 128, 0.139);
    }


/* D E M O */



body {

}

header {

}

nav {

}

main {

}

section {

}

article {

}

